<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<h2><%= current_user.try(:email) %></h2>
	<div><%= image_tag post.image.url(:thumb) %></div>
	<div><%= truncate(post.body, :length => 150) %></div>
	<br>
	<%= link_to "Read Post", post %>
<% end %>
<%= will_paginate @posts, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_winsdow: 0%>
