<h1><%= @post.title%></h1>

<%= image_tag @post.image.url(:medium) %>

<div><%= @post.body%></div>

<% if @post.user == current_user %>
	<%= link_to "Edit Post", edit_post_path(@post) %>
	<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you shore ?"} %>
<% end %>